In [1]:
import pandas as pd;

In [77]:
file1 = pd.read_csv("/Users/aletheadevelopmentteam/Downloads/Pandas Part 1 2/bigmart_data.csv").sort_values(by='Item_Weight',na_position='first').iloc[:5,:3];
file1.index = [1,2,3,4,5]
file1

  Item_Identifier  Item_Weight Item_Fat_Content
1           FDP10          NaN          Low Fat
2           DRI11          NaN          Low Fat
3           FDW12          NaN          Regular
4           FDC37          NaN          Low Fat
5           FDC14          NaN          Regular

In [79]:
file2 = pd.read_csv("/Users/aletheadevelopmentteam/Downloads/Pandas Part 1 2/bigmart_data.csv").sort_values(by='Item_Identifier').iloc[5:10,:3];
file2.index = [3,4,5,6,8]
file2

  Item_Identifier  Item_Weight Item_Fat_Content
2           DRA12        11.60          Low Fat
3           DRA24        19.35          Regular
4           DRA24        19.35          Regular
5           DRA24          NaN          Regular
6           DRA24          NaN          Regular

In [82]:
file3 = pd.read_csv("/Users/aletheadevelopmentteam/Downloads/Pandas Part 1 2/bigmart_data.csv").sort_values(by='Item_Fat_Content').iloc[10:16,:3];
file3.index = [3,6,8,9,10,11]
file3

   Item_Identifier  Item_Weight Item_Fat_Content
3            NCQ30        7.725               LF
6            NCD31       12.100               LF
8            FDD17        7.500               LF
9            NCJ05          NaN               LF
10           DRD37        9.800               LF
11           DRE25       15.350               LF

In [102]:
pd.concat([file1,file2,file3],keys=['x','y','z'],join="outer",verify_integrity=True,sort=True)

     Item_Fat_Content Item_Identifier  Item_Weight
x 1           Low Fat           FDP10          NaN
  2           Low Fat           DRI11          NaN
  3           Regular           FDW12          NaN
  4           Low Fat           FDC37          NaN
  5           Regular           FDC14          NaN
y 2           Low Fat           DRA12       11.600
  3           Regular           DRA24       19.350
  4           Regular           DRA24       19.350
  5           Regular           DRA24          NaN
  6           Regular           DRA24          NaN
z 3                LF           NCQ30        7.725
  6                LF           NCD31       12.100
  8                LF           FDD17        7.500
  9                LF           NCJ05          NaN
  10               LF           DRD37        9.800
  11               LF           DRE25       15.350

In [119]:
pd.merge(file1,file3,on='Item_Weight',how='right').sort_index(axis=1)

,Item_Fat_Content_x,Item_Fat_Content_y,Item_Identifier_x,Item_Identifier_y,Item_Weight
0,Low Fat,LF,FDP10,NCJ05,NaN
1,Low Fat,LF,DRI11,NCJ05,NaN
2,Regular,LF,FDW12,NCJ05,NaN
3,Low Fat,LF,FDC37,NCJ05,NaN
4,Regular,LF,FDC14,NCJ05,NaN
5,NaN,LF,NaN,NCQ30,7.725
6,NaN,LF,NaN,NCD31,12.100
7,NaN,LF,NaN,FDD17,7.500
8,NaN,LF,NaN,DRD37,9.800
9,NaN,LF,NaN,DRE25,15.350